body {
  margin: 15px;
}
h1 {
  clear: both;
}
h2 {
  border-bottom: 1px solid #222;
  font-size: 1.8em;
  letter-spacing: 1px;
}
.card {
  padding: 10px 15px;
  width: 33.33333333333333%;
  float: left;
  position: relative;
  min-height: 1px;
}
.image img {
  max-width: 100%;
  max-height: 300px;
}
.card-body {
  border: 1px solid #222;
  border-radius: 5px;
  padding: 0 10px;
  min-height: 260px;
}
.description {
  margin: -20px 0 0 0;
  padding: 1px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.category.blue {
  background: url(history.png) no-repeat center center;
}
.category.green {
  background: url(location.png) no-repeat center center;
}
.category.red {
  background: url(creature.png) no-repeat center center;
}
.category.yellow {
  background: url(cypher.png) no-repeat center center;
}
.category.purple {
  background: url(artifact.png) no-repeat center center;
}
.category.orange {
  background: url(person.png) no-repeat center center;
}
.archived {
  display: none;
}
.list {
  clear: both;
  overflow: hidden;
}
.list.Companions .card {
  width: 50%;
}
.list.Companions .card-body {
  min-height: 450px;
}
.list {
  page-break-after: always;
  page-break-inside: avoid;
}
.card {
  page-break-inside: avoid;
}
@media print {
  .main.container {
    width: 1050px;
  }
  .description {
    margin: 0;
  }
  .card-body {
    min-height: 300px;
  }
  .list.Companions .card-body {
    min-height: 575px;
  }
  .category.blue {
    background-image: url(history.png) !important;
    background-repeat: no-repeat !important;
  }
  .category.green {
    background: url(location.png) no-repeat center center !important;
  }
  .category.red {
    background: url(creature.png) no-repeat center center !important;
  }
  .category.yellow {
    background: url(cypher.png) no-repeat center center !important;
  }
  .category.purple {
    background: url(artifact.png) no-repeat center center !important;
  }
  .category.orange {
    background: url(person.png) no-repeat center center !important;
  }
  @page {
    margin: 10px 5px;
  }
}
