

@import "bootsrap/bootstrap";

@import "kayla-styles";

body {
  margin: 15px;
}

h1 {
  clear: both;
  padding-top: 30px;
}

h2 {
  border-bottom: 1px solid #222;
  font-size: 1.8em;
  letter-spacing: 1px;
}

.card {
  padding: 10px 15px;
}

.description {
  line-height: 30px;
  margin: 0;
}

.image img {
  max-width: 100%;
  max-height: 300px;
  padding-bottom: 10px;
}

.card-body {
  border: 1px solid #222;
  border-radius: 5px;
  padding: 0 10px;
  min-height: 360px;
  background: transparent url(../imx/Line-Divider.png) repeat-y center center;
  .row {
    background-color: white;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.categories img {
  width: 30px;
  &.empty{
    display: none;
  }
}

div.page {
  page-break-after: always;
  page-break-inside: avoid;
  clear: both;
  display: block;
  overflow: hidden;
}

.card.empty.companions {
  display: none;
}
.col-md-4.card.companions{
  .make-md-column(6);
}

.panel-body {
  font-size: 1.2em;
}

.card {
  min-height: 140px;
}

.image {
  text-align: center;
}

.image img {
  max-width: 100%;
  max-height: 215px;
  margin: 0 auto;
}

div.placeholder {
  h2 {
    border-bottom: 1px solid #222;
  }

  p {
    line-height: 30px;
    height: 25px;;
    border-bottom: 1px solid #CCC;
  }
}

.card.archived {
  display: none;
}

.card {
  padding-bottom: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.checklists {
  ul {
    padding-left: 15px;
  }
}

.list {
  h1 {
    margin-top: 0;
    text-align: center;
  }
}

h2.default {
  background: transparent url('imx/nume.png') no-repeat right top;
}

.light {
  color: lightgray;
}

@media print {
  .main.container {
    width: 1450px;
  }

  @page {
    size: landscape A3;
    margin-left: -5cm;
    margin-right: -5cm;
  }

}